.bingo-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    width: 100px;
    height: 100px;
}

.bingo-block:last-child {
    border-right: 1px solid black;
}

.bingo-block--swapping {
    background-color: aquamarine;
}

.bingo-block--marked {
    background-color: orange;
}

.bingo-block--play {
    cursor: pointer;
}

.bingo-block--disabled {
    background-color: blanchedalmond;
}

.bingo-block__content {
    display: inline;
}

.bingo-block__tools {
    position: absolute;
}

.bingo-block__tools--right-top {
    right: 0;
    top: 0;
}

.bingo-block__tools--right-bottom {
    right: 0;
    bottom: 0
}

.bingo-block__tools--left-top {
    left: 0;
    top: 0
}

