.bingo-field {
    display: block;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bingo-field__row {
    display: flex;
}

.bingo-field__row:last-child {
    display: flex;
    border-bottom: 1px solid black;;
}

.bingo-field__edit-input {
    width: 100%;
}