.bingo-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.bingo-block--swapping {
    background-color: aquamarine;
}

.bingo-block__content {
    display: inline;
}

.bingo-block__tools {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
